.modalOverlay {
    background: var(--half-black);

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
}

.modalContainer {
    background: var(--half-white);

    height: 60%;
    width: 60%;

    position: relative;

    border-radius: 12px;
}

.modalContainer a {
    text-decoration: none;
    font-size: 1.5rem;
    
    position: absolute;
    top: .8rem;
    left: 1rem;
}
.modalContainer a:hover {
    color: red;
}