.mealContainer {
    position: relative;
    width: 100%;
    max-height: 79.2vh;

    display: flex;
    justify-content: center;

    padding: .5rem;
}

.mealContainer h2 {
    color: var(--half-black);
}

.mealContainer img {
    height: 200px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 50%;
}