.mealListContainer {
    height: 100%;
    max-height: 79.2vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .5rem;
    overflow-y: auto;
}

.mealListContainer h3 {
    color: var(--half-black);
}

.mealListContainer ul {
    width: 100%;
    list-style: none;
    margin-top: 1.45rem;
    font-weight: 500;
}

.mealListContainer ul li {
    padding-left: 1rem;
}

.mealListContainer ul li:hover {
   color: red;
}

@media(max-width: 800px) {
    .mealListContainer {
        height:100vh;
        left: 30vw;
        top: 0;
        position:fixed;
        background: #f0f2f5;

        overflow-y: scroll;
        width: 30vw;
        z-index: 666;
        /*visibility: hidden;*/
    }
}