.container {
  max-height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: .75fr 4.75fr .5fr;
  grid-template-areas: "top top top" 
                       "botA botB botC"
                       "foo foo foo";
}

.navbar {
  grid-area: top;
  width: 100%;
  background: var(--nav-bar);

  display: flex;
  align-items: center;
}

.navbar img {
  height: 70px;
  margin-left: 5rem;
  padding: .25rem;
}

.filters {
  grid-area: botA;
  border-right: 1px solid var(--nav-bar);
  border-left: 10px solid var(--nav-bar);
}

.mealsList {
  grid-area: botB;
}

.search {
  grid-area: botC;
  border-left: 1px solid var(--nav-bar);
  border-right: 10px solid var(--nav-bar);
}

.container footer {
  grid-area: foo;
  background: var(--nav-bar);
}

.burger {
  display: none;
}

.rectTop,
.rectMid,
.rectBot {
  width: 45px;
  height: 10px;
  background: var(--half-white);
  border-radius: 8px;
}

.rotateTop,
.rotateBot {
  width: 45px;
  height: 10px;
  background: var(--half-black);
  border-radius: 8px;
}

.rotateTop {
  transform: rotate(45deg) translateY(12px);
}

.rotateBot {
  transform: rotate(-45deg) translateY(-12px);
}

@media(max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar img {
    margin-left: 1.5rem;
  }

  .mealsList {
    height: 110%;
  }

  .container footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
  }

  .filters, 
  .search {
    border: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 999;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 1rem;
    top: 1rem;
  }
}
