:root {
  --half-white: rgba(255, 255, 255, .65);
  --half-black: rgba(0,0,0,.45);
  --nav-bar : rgba(3, 255, 152, 0.8) ;
  --side-bar : rgb(245, 185, 116);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Red Hat Text';
}
